:root {
  --background: #0E0E11;
  --background2: #282832;
  --shadow: #000;
  --foreground: #cecee5;
  --foreground2: #7a7a99;
  --foreground3: #282832;
  --elementcolor: #282832;
  --active: #111;
  --border: #353B4D;
  --transparent: #00000000;
  --black: #000000;
  --darkoverlay: #00000086;
  --area: #1B1B21;
  --accent: #38608F;
}